[Unit]
Description=Twitter Bot
After=network.target

[Service]
Type=simple
User=r0ot
Environment=
WorkingDirectory=/home/r0ot/twitter-bot/
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
